<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.RRHHECU911ConnectionString"
            connectionString="Data Source=DESKTOP-GH8860H\SQLEXPRESS;Initial Catalog=RRHHECU911;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.ECURRHH911ConnectionString"
            connectionString="Data Source=DESKTOP-GH8860H\SQLEXPRESS;Initial Catalog=ECURRHH911;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.ECURRHH911ConnectionString1"
            connectionString="Data Source=DESKTOP-JAJSGG6\SQLEXPRESS;Initial Catalog=ECURRHH911;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>